.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.product-title {
  display: -webkit-box;
  /* Thiết lập chế độ hiển thị */
  -webkit-box-orient: vertical;
  /* Định hướng chiều dọc */
  -webkit-line-clamp: 2;
  /* Giới hạn số dòng hiển thị */
  overflow: hidden;
  /* Ẩn nội dung vượt quá */
  text-overflow: ellipsis;
  /* Hiển thị dấu ba chấm */
}

/* CSS Admin */
.menu-header-top:hover,
.menu-header-bottom:hover {
  background-color: #fff;
  color: #111;
}

.menu-header-top:hover {
  border-radius: 5px 5px 0 0;
  border: 1px solid #0d6efd;
}

.menu-header-bottom:hover {
  border-radius: 0 0 5px 5px;
  border: 1px solid #0d6efd;
}