.slider1{
    position: relative;
}
.custom-top {
    top: 20%; /* Điều chỉnh vị trí từ trên xuống */
    transform: translateX(-50%); /* Chỉ dịch chuyển ngang để giữ vị trí căn giữa theo chiều ngang */
}
.custom-logo {
    font-size: 1rem; /* Kích thước logo lớn hơn menu */
    position: absolute; /* Đặt logo ở vị trí tuyệt đối */
    top: 50%; /* Căn giữa theo chiều dọc */
    left: 50%; /* Căn giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Đẩy logo vào giữa */
    z-index: 1; /* Đảm bảo logo nằm trên các phần tử khác */
    padding: 10px; /* Thêm khoảng cách cho logo */
  
    border-radius: 5px; /* Tùy chọn, thêm bo tròn các góc */
}
.logo-image {
    width: 150px; /* Điều chỉnh chiều rộng của logo */
    height: auto; /* Để chiều cao tự động tương ứng với chiều rộng */
    margin: 0; /* Loại bỏ margin để logo sát với menu */
    padding: 0; /* Loại bỏ padding nếu có */
    border-radius: 50%;
}

.bgnav{
    background-color: #71CBE8;
}




